#calculator{
    height: 200px;
    width: 370px;
    border: 1px solid black;
    box-shadow: 4px 4px lightgrey;
}
#calculator-screen{
    height: 50px;
    width: 370px;
    background-color: aliceblue;
    color: black;
    border: 1px solid black;
    text-align: right;
}
#display{
    font-size: 25px;
    color: black;
    font-weight: bold;
    vertical-align: baseline;
}
#function-keys{
    height: 150px;
    width: 370px;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.button{
    height: 25px;
    width: 90px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
